@font-face {
    font-family: "astros";
    src: url("../font/AstroSpace-0Wl3o.otf");
}
/* Navigation Bar */

nav {
    transition: background 250ms ease-in;
}

.nav-scrolled {
    --text: black;
    --text-inverse: white;
    background: #ff9523;

    box-shadow: 0 3px 20px rgba(black, 0.2);
}

.nav-link {
    font-family: 'Source Code Pro', monospace;
    /* font-weight: bold; */
    font-size: 20px;
    margin-left: 20px;
    /* color: black; */
}

.navbar-brand {
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
    color: black;
}

.navbar-brand:hover {
    color: black;
}

/* Jumbotron */

.jumbotron {
    background-image: url('../images/Path\ 1.png');
    background-size:cover;
    height: 730px;
}

.jumbotron img {
    height: 1200px;
    width: 1200px;
    /* margin-top: 200px;
    margin-left: -180px; */
}

.jumbotron p {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    font-weight: 450;
    margin-left: 240px;
    text-align: justify;
}

.display-4 {
    color: black;
    margin-top: -200px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    /* font-weight: 100; */
    font-size: 45px;
    margin-left: 240px;
}

.custom-image {
    /* margin-left: 130px; */
    margin-top: -130px;
}



.jumbotron .display-4 span {
    font-weight: 500;
    font-style:italic;
}

.btn-start {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-top: 10px;
    background-color: #069fbf;
    width: 750px;
    height: 50px;
    border-radius: 35px;
    margin-top: 20px;
    margin-left: 240px;
}

.btn-start:hover {
    color: #069fbf;
    background-color: #c3ebf5;
}

/* Features */

.rekomendasi {
    margin-top: 270px;
    margin-left: 75px;
    font-family: 'Source Code Pro', monospace;
}

.recForm {
    margin-top: 50px;
}

.btn-rec {
    /* align-items: center !important;
    justify-content: center;
    width: 100%; */
    margin-left: 100px;
}


/* Hasil Rekomendasi */

.hasil-rekomendasi {
    font-family: 'Source Code Pro', monospace;
}

tr:nth-child(odd) {
    background-color: #d0e4fc !important;
}

/* data buku */
.data-buku {
    margin-top: 80px;
}
  

/* REGISTER */

.register {
    height: 730px;
}

.register-left {
    background-color: #ff9523;
    text-align: center;
}

.register-left h1 {
    margin-top: 330px;
}

.register-right {
    margin-top: 150px;
}

.register .btn {
    height: 40px;
    width: 130px;
    font-size: 13px;
    margin-left: 500px;
}

.register input {
    width: 70%;
    margin-left:110px;
}

/* FIND */

.find-left {
    text-align:left;
    padding-top: 100px;
}

.find-left h1 {
    margin-left: 130px;
}

.find-left form {
    margin-top: 130px;
    margin-left: 25px;
}

.find-left input {
    width: 60%;
}

.find-left .btn {
    height: 40px;
    width: 130px;
    font-size: 13px;
    margin-left: 110px;
    margin-top: 0px;
}

.find-right {
    margin-top: 100px;
}

.more {
    display: none;
}

.myBtn {
    background-color: transparent;
    border-color: transparent;
    font-weight: 1000;
}

/* Footer */

footer {
    background-color:#069fbf;
    height: 50px;
    color: white;
}

footer p {
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}

/* Desktop Version */
@media (min-width: 700px){
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid rgb(119, 111, 111);
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}